<launch>
 # The planning and execution components of MoveIt! configured to 
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner

   <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find robothand_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

    <!-- publish joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/robothand_controller_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

 <include file="$(find robothand_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
 </include>

 <!-- The visualization component of MoveIt! -->
 <include file="$(find robothand_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
 </include>
</launch>